
ol, ul, li,label{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	margin-top:70px;
}

input[type="button"]{
	width:10%;
}
input[type=button]:hover {
	background-color:rgba(255,204,0,0.8);
}

.hidePlayersOptions {
	/*visibility: hidden;*/
	display: none;
}

.showOptions {
	visibility:visible;
	display: inline;
}
.selected{
	background-color:yellow;
	color: blue;
}


@media only screen and (min-width:300px) and (max-width: 620px)  {
	body {
		background-color: lightblue;
	}
	input[type="button"]{
		width:20%;
	}
	input[type=button]:hover {
		background-color:rgba(255,204,0,0.8);
	}

}