<head>
    <title>Leaderboard</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Leaderboard</h1>
{{> loginButtons}}
{{> leaderboard}}
{{> addPlayerForm}}
</body>

<template name="leaderboard">
    <!--<li>Total Players: {{count}}</li>-->
    <ul>
        {{#each player}}
            {{> listPlayer}}
        {{/each}}
        <!-- {{#if showSelectedPlayer}}
            <div class="buttons" id="{{_id}}">
                <li>
                    Selected Player: {{showSelectedPlayer.name}}
                    <input type="button" id='increment' value="Add 5 Points"/>
                    <input type="button" id='decrement' value="Take 5 Points"/>
                    <input type="button" id='removePlayer' value="Remove Player"/>
                </li>
            </div>
        {{/if}}-->

    </ul>
</template>

<template name="addPlayerForm">
    {{#if currentUser}}
        <form>
            <input type="text" name="playerName" id="playerName">
            <input type="submit" value="Add Player">
        </form>
    {{/if}}
</template>


<template name="listPlayer">
    {{! #HammerTouchArea gestureMap=gestures}}
        <li class="player {{selectedClass}} ">
            {{name}} : {{score}}
        <li class="{{showPlayerOptions}}">
            <input type="button" id='increment' value="Add 5 Points"/>
            <input type="button" id='decrement' value="Take 5 Points"/>
            <input type="button" id='removePlayer' value="Remove Player"/>
        </li>
        </li>
    {{! /HammerTouchArea}}

</template>




<!--<head>
	<title>Leaderboard</title>
</head>
<body>
	<h1>Leaderboard</h1>
	{{> loginButtons}}
	{{> leaderboard}}
	{{> addPlayerForm}}
</body>

<template name="leaderboard">
	<!--<li>Total Players: {{count}}</li>--/>
	<ul>
		{{#each player}}
			<li class="player {{selectedClass}}">{{name}} : {{score}}</li>
		{{/each}}
	
		{{#if showSelectedPlayer}}
			<li>
				Selected Player: {{showSelectedPlayer.name}}
				 <input type="button" id='increment' value="Give 5 Points"/>
				 <input type="button" id='decrement' value="Take 5 Points"/>
				 <input type="button" id='removePlayer' value="Remove Player"/>
			</li>
		{{/if}}
	</ul>
</template>

<template name="addPlayerForm">
	{{#if currentUser}}
		<form>
			<input type="text" name="playerName" id="playerName">
			<input type="submit" value="Add Player">
		</form>	
	{{/if}}
</template>

-->